/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
/.vagrant
*.log
.DS_Store
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
Thumbs.db
